<nav class="navigation">
  <div class="products-cart cart-list1 p-80">
    <div class="container">
      <h2 class="heading-cart">
        Cart
      </h2>
      <div class="update-Complete">
        <i class="fas fa-check-circle"></i> Cart updated.
      </div>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody id="addToCard" >
          <tr class="product-item-cart" *ngFor="let cartItem of cartList">
            <td>
              <button class="erase" (click)="removeItemFromCart(cartItem.id)">
                &times;
              </button>
            </td>
            <td>
              <div class="img">
                <!-- [src] : "cartItem.product" -->
                <!-- src:"{{cartItem.product}}"" -->
                <img [src]="cartItem.image" alt="{{cartItem.image}}" style="width:150px; height: 150px">
              </div>
            </td>
            <td>
              <a href="#" class="heading-product">
                {{cartItem.title}}
                <!-- {{cartItem.product.title}} || cartItem.product.image -->
              </a>
            </td>
            <td>
             {{cartItem.price | currency}}
            </td>
            <td>
              <div class="control d-flex a-center">
                <a class="plus-1" href=""><i class="fa-solid fa-plus"></i></a>
                <input type="text" class="InputAmountProduct">{{cartItem.quanty}}
                <a class="dash-1" href=""><span style="    font-size: 26px;
    display: inline-block;
    padding-bottom: 6px;
    font-weight: bold;
    margin-left: 12px;
"> - </span></a>
              </div>
            </td>
            <td> {{(cartItem.price * cartItem.quanty) | currency}}</td>
            <!-- <td> {{(cartItem.getTotalPrice())}}</td> -->
          </tr>
        </tbody>
      </table>
      <div class="cart-on-mb">
      </div>
      <div class="coupon d-flex a-center j-between">
        <div class="coupon-input d-flex a-center">
          <input type="text" placeholder="Coupon Code">
          <a href="#" class="btn btn-primary">
            Apply Coupon
          </a>
        </div>
        <a class="btn btn-primary update">
          Update Cart
        </a>
      </div>

      <div class="cart_totals">
        <div class="heading">
          Cart Totals
        </div>

        <div class="sub-totals d-flex a-center j-between">
          <span>Subtotal</span>
          <span class="subtotal">{{(getTotalPrice() | currency)}}</span>
        </div>

        <div class="total d-flex a-center j-between">
          <span> Total </span>
          <span class="total-product">{{(getTotalPrice() | currency)}}</span>
        </div>

        <div class="checkout">
          <a href="checkout.html" class="btn btn-primary">Proceed To Checkout
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
      </div>

    </div>

  </div>
</nav>
