<header class="header">
  <div class="main-header">
    <div class="top-nav">
      <div class="menu-ipad-mobile">
        <i class="bi bi-list"></i>
      </div>
      <img class="top-nav__img" src="../../../assets/logo/logo_x2.png">
      <ul class="top-nav__first">
        <li><a [routerLink]="['']">Home</a></li>
        <li class="top-nav__first__Shop"><a href="products.html">Shop <i class="icon-arrow fa fa-angle-down"></i></a>
          <ul class="menu-Shop">
            <li><a href="wishlist.html">Wish List</a></li>
            <li><a href="checkout.html">Payment</a></li>
          </ul>
        </li>
        <li class="top-nav__first__Page">
          <a href="#">Page <i class="icon-arrow fa fa-angle-down"></i></a>
          <ul class="menu-Page">
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="wishlist.html">Wish List</a></li>
            <li><a href="login.html">My account</a></li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['cart']">Cart</a>
        </li>
        <li><a [routerLink]="['']">Checkout</a></li>
      </ul>
      <div>
        <div class="search">
          <input class="top-nav__search" type="text" class="form-control" name="name" [(ngModel)]="name"
            (ngModelChange)="search()" placeholder="Search...">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>



      <!-- *ngIf="!user; else login"  -->
      <div class="top-nav__second">
        <ul class="top-nav__second__icon">

          <li class="item addWishlist"><a href="wishlist.html"><i class="fa-solid fa-heart"></i></a><span class="before"
              id="before1">0</span>
          </li>
          <li class="item card-item"> <a data-bs-toggle="modal" data-bs-target="#cardModal"><i
                class="fa-solid fa-cart-shopping"></i></a><span class="before" id="before">0</span></li>
          <li>
            <div class="top-nav__second--login-regis" *ngIf="!user;else login">
              <!-- <app-login></app-login> -->
              <a [routerLink]="['login']"><i class="far fa-user"></i> Login</a>/<a class="top-nav__second--regis"
                [routerLink]="['signup']">Sign Up</a>
            </div>
          </li>
        </ul>
      </div>
      <ng-template #login class="top-nav__second--login-regis">

        <a>{{user.displayName}}</a>
        <a (click)="handleLogout()">Đăng xuất</a>



      </ng-template>
    </div>
  </div>
</header>
