<!-- Template Driven -->
<!-- <div>
  <h2>Sign up</h2>
  <label class="form-label">Tên Đăng Nhập </label><br>
  <input id="name" type="text" placeholder="Nhập tên đăng nhập" required #nameSigup>
  <label class="form-label">Email</label><br>
  <input id="form5" type="email" placeholder="Nhập email" required #emailSignup><br>
  <label class="form-label">Mật Khẩu</label><br>
  <input id="form2" type="password" placeholder="Nhập mật khẩu" required #passwordSignup>
  <button (click)="onSignup(emailSignup.value,passwordSignup.value,nameSigup.value)">Sign up</button>
</div>
<hr> -->

<main class="main">
  <section class="register">
    <div class="container">
      <h2>SIGN UP</h2>
<!-- reactive form -->
<form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()">
        <div class="row form-group">
          <div class="col">
            <label class="form-label">UserName </label><br>
            <input formControlName="fullName"  type="text" placeholder="Username" required>
            <span style="color:red"
              *ngIf="signUpForm.get('fullName')?.errors && signUpForm.controls['fullName']?.touched"> UserName is
              required </span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col">
            <label class="form-label">Password</label><br>
            <input formControlName="password"  type="password" placeholder="Password" required>
          </div>

        </div>

        <div class="row form-group">
          <div class="col">
            <label class="form-label">Email</label><br>
            <input formControlName="email" type="email" placeholder="Email" required><br>
          </div>

        </div>

        <div class="row btn-form"><br>
          <button type="submit" class="btn btn-dark" [disabled]="!signUpForm.valid">Sign Up</button><br>
        </div>
      </form>


</div>
  </section>
</main>
