<div class="card__item">
  <div class="product__img">
    <img src="{{item.image}}" alt="">
    <div class="product__button">
      <button class="btn btn__card" (click)="addToCart()">Add to Cart </button>
      <button class="btn btn__detail" (click)="productDetail(item.id)"><i class="fa-solid fa-eye"></i></button>
      <!-- DÙng thẻ a vs childrenRoute & router-outlet -->
      <!-- <a [routerLink]="['/productDetail', item.id]"><i class="fa-solid fa-eye"></i></a> -->
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{item.title}}</h5>
    <div class="card-star">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
    </div>
    <p class="card-text">{{item.description}}</p>
    <p class="card-price">{{item.price}}</p>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
